/* color palettes
#89B5AF rgb(137, 181, 175) dark teal
#96C7C1 rgb(150, 199, 193) teal
#D0CAB2 rgb(208, 202, 178) dark beige
#DED9C4 rgb(222, 217, 196) beige
*/
*{
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}
body {
    background: #D0CAB2;
    margin: 0;

}

/* NAVBAR */
.navBar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0; 
    background: #96C7C1;
    background-image: linear-gradient(#96C7C1, #D0CAB2);
}
  
.navBar a {
    text-decoration: none;
    display: block;
    padding: 15px;
    color: black;
}
  
.navBar a:hover {
    background-image: linear-gradient(#89B5AF, #D0CAB2);
    /* background: #89B5AF; */
}

@media all and (max-width: 800px) {
    .navBar {
      justify-content: space-around;
    }
  }
  @media all and (max-width: 600px) {
    .navBar {
      flex-flow: column wrap;
      padding: 0;
    }
    .navBar a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(150, 199, 193,0.3); 
      border-bottom: 1px solid rgba(150, 199, 193, 0.1); 
    }
    .navBar li:last-of-type a {
      border-bottom: none;
    }
  }

/* INTRO */
#intro{
    border: 3px solid black;
    display: flex;
    padding: 1%;
    background-image: linear-gradient(#D0CAB2,#96C7C1,#D0CAB2 );

}
.introImg{
    /* background-image: url("./images/collus1.JPG"); */
    width: 600px;
    height: 600px;
    flex: 1;
}
@media all and (max-width: 900px){
    .introImg{
        width: 300px;
        height: 300px;
    }
}

@media all and (max-width: 500px){
    /* #intro{
    flex-flow: column;
} */
    .introImg{
        display: none;
    }
    /* .introArticle{
        flex: 1;
    } */
}

.introArticle{
    background-color: deepskyblue;
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 1%;
}
.introTitle{
    background-color: cyan;
    flex: 1;
    text-align: center;
    padding: 1%;

}
.introContent{
    background-color: darkorange;
    flex: 9;
    padding: 1%;
    margin: auto;

}


/* PROJECTS */
#projects{
    background-image: linear-gradient(#D0CAB2,#96C7C1,#D0CAB2 );

    border: 3px solid black;
    display: flex;
    padding: 1%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.project{
    border: 2px solid springgreen;
    width: 150px;
    height: 100px;
    background-color: cadetblue;
}
@media all and (max-width: 500px){
    #projects{
        flex-direction: column;
        gap: 20px 20px;
    }
}


/* BLOGS */
#blogs{
    background-image: linear-gradient(#D0CAB2,#96C7C1,#D0CAB2 );

    border: 3px solid black;
    padding: 1%;

}
.blog{
    background-color: #dfdfdf;
    border: 2px solid red;
    box-sizing: border-box;
    padding: 1%;
    flex-basis: 30%;
}
/* when screen has a min width of 900px add these properties */
@media (min-width: 900px){
    #blogs{
        display: flex;
        justify-content: space-around;
    }
}



/* FOOTER */
footer{
    text-align: center;
    background-image: linear-gradient(#D0CAB2,#96C7C1 );

}
footer ul{
    padding: 0;
}
.footerLinks li{
    display: inline-block;
    padding: 6px;
}
